/* Design information
    drawing area background color (.item) - #f7f7f7
    drawing area border color (.grid) - #009EC3
    text color - #05d5fc
*/

.body {
  background-color: #404040; /* #404040 dark grey */
  color: #05d5fc;
  text-shadow: 0 0 0.4em #05d5fc;
  font-family: sans-serif;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.btn-wrapper {
  text-align: center;
}

@media (max-width: 520px) {
  .btn-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 400px) {
  .btn-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
}



.grid {
  width: 500px;
  height: 500px;
  margin: 10px;
  display: grid;
  border-style: solid;
  border-width: 20px;
  border-color: #009EC3;
}

@media (max-width: 544px) {
  .grid {
    width: 250px;
    height: 250px;
    border-width: 10px;
  }

}

.item {
  border-style: solid;
  border-color: #404040;
  border-width: 1px;
  background-color: #f7f7f7;
  text-align: center;

}

.btn {
  width: 85px;
  margin: 10px;
  padding: 5px;
  border-style: solid;
  border-color: #05d5fc;
  border-radius: 5px;
  background-color: #d8dee9;
  background-color: black; /* #404040 dark grey */
  color: #05d5fc;
  text-shadow: 0 0 0.4em #05d5fc;
  font-size: 14px;
}

.btn:hover {
  background-color: rgb(0,0,0,.3);
}

.btn:focus {
  box-shadow: 0 0 7px 3px white;
  border-color: white;
  
}
